kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: cnf-nauti
  namespace: nauti-system
spec:
  selector:
    matchLabels:
      app: cnf-nauti
  template:
    metadata:
      labels:
        app: cnf-nauti
        router.nauti.io/cnf: "true"
    spec:
      serviceAccountName: octopus
      hostNetwork: false
      containers:
        - name: cnf-nauti
          image: 121.40.102.76:30080/cnf/cnf:v7
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
            privileged: true
          command:
            - ./cnf
          args:
            - --shared-namespace=syncer-operator
            - --local-namespace=syncer-operator
            - --as-hub=false
            - --as-cluster=true
            - --hub-secret-namespace=nauti-system
            - --hub-secret-name=octopus
            - --hub-url=https://172.24.33.2:6443
          env:
            - name: NAUTI_CLUSTERID
              value: cluster1
            - name: NAUTI_BOOTSTRAPTOKEN
              value: re51os.131tn13kek2iaqoz
            - name: NAUTI_PODNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAUTI_PODNAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            limits:
              cpu: "1"
              memory: 1000Mi
            requests:
              cpu: 200m
              memory: 200Mi
      nodeSelector:
        kubernetes.io/os: "linux"